.allPage {
  display: grid;
  grid-template-columns: 1fr 4fr 0.1fr;
  grid-gap: 1em;
  background-color: currentColor;
}

.allPage>div {
  background-color: silver;
  padding: 1em;
  border-radius: 1em;
}

.table th, td {
  text-align: center;
}

.leftPanel {
  grid-column: 1/2;
  grid-row: 4/5;
  display: grid;
  grid-row-gap: 1em;
  grid-template-columns: 1fr;
  margin-left: 1em;
  align-content: flex-start;
}

.mainTitle {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 1em;
  background-image: url("../images/capitol.jpg");
  background-size: cover;
  color: white;
  background-position: top;
}

.mainNav {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #6c757d;
  background-image: url("../images/capitol.jpg");
  background-size: cover;
  background-position: 2em;
}

.introduction {
  grid-column: 2/3;
  grid-row: 3/4;
  background-image: url("../images/capitol.jpg");
  background-size: cover;
  background-position: 2em -21em;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

.mainTable {
  grid-column: 2/3;
  grid-row: 4/6;
}

.footer {
  grid-column: 1/4;
  grid-row: 6/7;
  background-color: silver;
  color: white;
  margin: 1em 3em 3em 3em;
  padding: 2em;
  text-align: center;
}

a {
  color: #6c757d;
  font-weight: bold
}

a:hover {
  color: #d49f34;
  text-shadow: 1px 1px grey;
}


.nav {
  background-color: #red;
}

.navDiv {
  /* background-color: black; */
}

.nav-link {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.topHeader {
  display: flex;
  justify-content: space-between;
}

.topHeaderLeft {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15%;
}

.topHeaderRight {
  align-items: center;
  display: flex;
  width: 12%;
  justify-content: space-between;
}

.logo {
  width: 45%;
}

.emailIcon {
  width: 30%;
}

.makeRow {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.select {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.party {
  width: 17%;
}

.check {
  align-items: baseline;
  display: flex;
  justify-content: space-around;
  width: 46%;
}

input {
  display: none;
}

/* .label {
  background: #6c757d;
  border: 3px solid black;
  border-radius: 4px;
  color: white;
  padding: 2%;
} */

input+label{
  background: #6c757d;
  border: 3px solid black;
  border-radius: 4px;
  color: white;
  padding: 2%;
}

input+label:hover {
  background: grey;
  border: 3px solid black;
}

input:checked+label {
  background: #d49f34;
  border: 3px solid black;
}
/* .label:hover {
  background: grey;
  border: 3px solid black;
} */
/*
input:checked+label {
  background: #d49f34;
  border: 3px solid black;
} */

/* input:not(.checked):hover+label{
  background: grey;
  border: 3px solid black;
} */

.state {
  align-items: baseline;
  display: flex;
  justify-content: space-around;
  width: 14%;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 2s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-out;
}

.createUserTable {
  margin-top: 25%;
}
